body {
}

.container {
  max-width: 898px;
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.site-header {
  padding: 36px 0;
}
.site-header__container {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.site-header-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.site-header-menu a {
  text-decoration: none;
  color: #000;
}
